<btn class="btn" onclick="mostrarGrupos()" id="btnGrupos"><b>Gerenciar Grupos</b></btn>
<btn class="btn" onclick="mostrarPerfis()" id="btnPerfis" style="display: none;"><b>Gerenciar Perfis</b></btn>

<div id="cadaPerfil">

    <div class="admin-title">
        <h2>Perfis:</h2>
        
        <a href="/add-post" class="button">+ Adicionar Perfil - via Admin</a>
    </div>
    
    <ul class="admin-posts">
    
        <div style="text-align: center;">
            <b>Os mais recentes serão exibidos primeiro - Aperte F3 para pesquisar - Remoções são permanentes!</b>
        </div>


    <% data.forEach(post => { %>
        
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>
        </li>
        <div class="admin-post-controls">

            <a href="/edit-post/<%= post._id %>" class="btn">

                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="white" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
                </svg>

                Editar
            </a>
            <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                <button type=submit class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>        
                    Deletar
                </button>
                
            </form>
        
    <% }) %>
    </ul>
</div>

<div id="cadaPost" style="margin-top: 10%">
    <h2>Posts de Usuários:</h2>
    <ul style="list-style-type: none; margin-left: -40px;">    
        <% posts.forEach(post => { %>
            <li style="margin-bottom: 10px;">
                <div style="background-color: #2c2a2a; border: 1.9px solid; border-color: blueviolet; padding: 0.5rem;">
                    <div>
                        <b><%= post.assinatura %></b>
                    </div>
                    <div>
                        <%= post.texto %>
                    </div>
                    <form action="/delete-post-admin/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn" style="font-size: small;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                            Deletar
                        </button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>


<div id="cadaGrupo" style="display: none;">


    <div class="admin-title">
        <h2>Grupos:</h2>
        
        <a href="/add-post" class="button">+ Adicionar Grupo - via Admin</a>
    </div>
    
    <ul class="admin-posts">
    
        <div style="text-align: center;">
            <b>Os mais recentes serão exibidos primeiro - Aperte F3 para pesquisar - Remoções são permanentes!</b>
        </div>


    <% grupos.forEach(grupo => { %>
        <li>
            <a href="/grupo/<%= grupo._id %>">
                <%= grupo.nome %> &nearr;
            </a>
        </li>

        <div class="admin-post-controls">

            <a href="/edit-grupo/<%= grupo._id %>" class="btn">

                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="white" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
                </svg>

                Editar
            </a>
            <form action="/delete-grupo/<%= grupo._id %>?_method=DELETE" method="POST">
                <button type=submit class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>        
                    Deletar
                </button>
                
            </form>
        </div>
    <% }) %>
    </ul>
</div>

    
<div id="cadaPublicacao" style="display: none">
    <h2>Publicações (grupos):</h2>

    <ul style="list-style-type: none; margin-left: -40px;">
        <% publicacoes.forEach(publicacoes => { %>
            <li style="margin-bottom: 10px;">
                <div style="background-color: #2c2a2a; border: 1.9px solid; border-color: blueviolet; padding: 0.5rem;">
                    <div>
                        <b><%= publicacoes.titulo %></b>
                    </div>
                    <div>
                        <%= publicacoes.texto %>
                    </div>
                    <form action="/delete-publicacao/<%= publicacoes._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn" style="font-size: small;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                            Deletar
                        </button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>

<script>
    var grupos = document.getElementById("cadaGrupo");
    var publicacoes = document.getElementById("cadaPublicacao");
    var btnGrupos = document.getElementById("btnGrupos");

    var perfis = document.getElementById("cadaPerfil");
    var posts = document.getElementById("cadaPost");
    var btnPerfis = document.getElementById("btnPerfis");

    function mostrarGrupos(){
        publicacoes.style.display="block";
        grupos.style.display="block";
        perfis.style.display="none";
        posts.style.display="none";
        btnGrupos.style.display="none";
        btnPerfis.style.display="inline";
    };

    function mostrarPerfis(){
        perfis.style.display="block";
        posts.style.display="block";
        grupos.style.display="none";
        publicacoes.style.display="none";
        btnPerfis.style.display="none";
        btnGrupos.style.display="inline";
    };
</script>

