<a href="/dashboard">&larr; Voltar</a>
<div class="admin-title">
    <h2>Editar Grupo</h2>

    <form action="/delete-grupo/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
</div>

<form action="/edit-grupo/<%= data._id %>?method=POST" method="POST">
    <label for="nome"><b>Nome</b></label>
    <input type="text" placeholder="Nome do Grupo" name="nome" value="<%= data.nome %>">

    <label for="descricao"><b>Descrição</b></label>
    <input type="text" id="descricao" name="descricao" value="<%= data.descricao %>">

    <input type="submit" value="Atualizar Informações" class="btn">
</form>

<h2>Publicações</h2>
<% publicacoesOrdenadas.forEach(publicacao => { %>
    <% if (publicacao.idGrupo === data.id) { %>
        <ul>
            <a href="/publicacao/<%= publicacao._id %>"> <%= publicacao.titulo %> </a>
            
            <form action="/delete-publicacao/<%= publicacao._id %>?_method=DELETE" method="POST">
                <button type=submit class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>        
                    Deletar
                </button>
                
            </form>
        </ul>
    <% } %>
<% }) %>