<a href="/dashboard">&larr; Voltar</a>
<div class="admin-title">
    <h2>Ver / Editar Perfil</h2>

    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
</div>

<form action="/edit-post/<%= data._id %>?method=POST" method="POST">
    <label for="title"><b>Nome</b></label>
    <input type="text" placeholder="Título do post" name="title" value="<%= data.title %>">

    <label for="body"><b>Bio</b></label>
    <textarea name="body" coLs="50" rows="10"><%= data.body %></textarea>

    <label for="insta"><b>Instagram ----> SEM DIGITAR O @, LEMBRE DISSO!</b></label>
    <input type="text" placeholder="@fulano" name="insta" value="<%= data.insta %>" onkeypress="return lettersOnly(event);">

    <label for="insta"><b>Sexo</b></label>
    <input type="text" placeholder="-" name="sexo" value="<%= data.sexo %>">

    <input type="submit" value="Update" class="btn">
</form>

<div>
    <h2>Ver / Apagar Comentários</h2>
    
    <div>
        <% comentarios2.forEach(comentario => { %>
            <% if (comentario.idResposta === data.id) { %>
                <div>
                    <span>NOME: <b>ID: <%= comentario.assinatura %></b> <||> idResposta: <%= comentario._id %> ==> <%= comentario.idResposta %></span> <br>
                    <span><%= comentario.texto %></span> <br>
                    <form action="/deletar-comentario/<%= comentario._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Deletar" class="btn-delete btn">
                    </form>
                </div>
                <h3></h3>
            <% } %>
        <% }) %>    
    </div>
</div>

<script>
    function lettersOnly(evt) {
    evt = (evt) ? evt : event;
    var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode :
        ((evt.which) ? evt.which : 0));
    if (charCode > 31 && (charCode < 65 || charCode > 90) &&
        (charCode < 97 || charCode > 122)) {
        //alert("Não é necessário adicionar o símbolo do @."); //não gostei do alert pq ele cria um popup na tela!
        event.preventDefault(); //esse só vai não adicionar o @ e ficar quieto
        return false;
    }
    return true;
}
</script>