<style>
  body {
      background-color: rgb(13, 2, 38);
      background-image: none;
  }
</style>

<!--HEADER DE LOGIN-->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<% if (nameCookie) { %>
<div style="text-align: center;">
  <b>LOGIN COMO: </b> 
  <a href="/post/<%= idCookie %>">
    <%= nameCookie %> <i class="material-symbols-outlined" style="font-size: 1rem;">north_east</i>
  </a>
</div>
<% } %> 
<!--HEADER DE LOGIN-->


<h1>Constelação de <%= data.title %></h1>
<h3>Aqui você vê todas as conexões que você tem com os outros Sparks!</h2>

<section class="articles">
  <h2 class="articles__heading">Pessoas com os mesmos interesses que você:</h2>

  <ul class="article-ul">


  <% data2.forEach(post => { %>
    <% if (perfisVerificados.includes(post._id) && post._id !== data._id) { %>
      
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date">@<%= post.insta %></span>
        </a>
      </li>

    <% } %>
  <% }) %>
</section>