<style>
    body {
        background-color: rgb(13, 2, 38);
        background-image: none;
    }
</style>

<!--HEADER DE LOGIN-->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<% if (userid) { %>
<div style="text-align: center;">
  <b>LOGIN COMO: </b> 
  <a href="/post/<%= userid %>">
    <%= nameCookie %> <i class="material-symbols-outlined" style="font-size: 1rem;">north_east</i>
  </a>
</div>
<% } %> 
<!--HEADER DE LOGIN-->


<script src="/js/tinymce/tinymce.min.js"></script>

<h2 id="nomegrupo"><%= data.nome %></h2>
<p> <b>DESCRIÇÃO: </b><%= data.descricao %></p>

<!--
<b>Estrelas:</b> <br>
<p>
    <% membro.forEach(membros => { %>
        <a href="/post/<%= membro %>">
            <!-- <img src='<%= membro.imagem %>' class="foto-perfil" style="max-width: 6%;">
            <%= membro.title %>
        </a>
    <% }) %> 
</p> 
-->

<% if (membro.includes(userid)) { %>
    <button class="btn" onclick="mostrar1()">Criar Publicação</button> <br>


<form id="form" action="/grupo/<%= data.id %>" method="POST">
    <div id="criarPublic" style="display: none">
    <h3>CRIAR PUBLICAÇÃO:</h3>
        
    <label for="titulo" maxlenght="60"> <b>Título:</b> </label>
    <input type="text" id="titulo" name="titulo" maxlenght="70">

    <!-- <label for="assinatura" maxlenght=""><b>Assinatura:</b></label> <font color="grey"><i>(Opcional)</i></font>
    <input type="text" id="assinatura" name="assinatura" maxlength="50"> -->
    
    <label for="texto"><b>Texto:</b></label> <div id="contador"></div> 
    <textarea name="texto" id="texto" coLs="50" rows="6" maxlength="600" oninput="atualizarContador()" style="resize:none;"></textarea>
    
    <input type="submit" value="Adicionar" class="btn">   
    </div> <br>
</form>
<% } %>



<% publicacoesOrdenadas.forEach(publicacao => { %>
    <% if (publicacao.idGrupo === data.id) { %>
    <div class="publicação-ul">
        
            <p style="font-size:x-large; margin-top: 0; margin-bottom: auto;">
                <b> <a href="/publicacao/<%= publicacao._id %>"> <%= publicacao.titulo %> </a> </b>
            <p>
                <%= publicacao.texto %>
            </p>

            <i style="font-size: small;">
                <b>Por: </b> <a href="/post/<%= publicacao.idAutor %>"> <%= publicacao.assinatura %> </a> 
            </i>
    </div>
    <% } %>
<% }) %>

<script>
    var divPublicacao = document.getElementById("criarPublic");

    function mostrar1(){
        divPublicacao.style.display="block";
    }

    function atualizarContador() { //contador de letras dos comentários!
            var input = document.getElementById('texto');
            var contador = document.getElementById('contador');
            var caracteresRestantes = 600 - input.value.length;
            contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/600";
    };

    function atualizarCurtidas(){
        var numero = document.getElementById('numeroCurtidas');

        numero.textContent = numero + 1;
    };


    tinymce.init({
            selector: 'textarea#tinymce',
            plugins: 'link image',
            toolbar: 'bold italic link image',
            license_key: 'gpl',
            //mode: 'textareas',
            setup: function(editor) {
                editor.on('change', function() {
                    tinymce.triggerSave(); // Garante que o conteúdo seja atualizado no textarea
                });
            },
            promotion: false,
    });


    $(document).ready(function() {
        $('#form2').on('submit', function(e) {
            e.preventDefault();

            var content = tinyMCE.get('tinymce').getContent();

            
        });
    });


</script>