<style>
    body {
        background-color: rgb(13, 2, 38);
        background-image: none;
    }
</style>

<!--HEADER DE LOGIN-->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<% if (nameCookie) { %>
    <div style="text-align: center; margin-bottom: 5%;">
        <b>LOGIN COMO: </b>
        <a href="/post/<%= idCookie %>">
            <%= nameCookie %> <i class="material-symbols-outlined" style="font-size: 1rem;">north_east</i>
        </a>
    </div>
    <% } %>
        <!--HEADER DE LOGIN-->

        <div>
            <img src="" class="banner-perfil">
            <img src="<%= data.imagem %>" class="foto-perfil">
            <div class="nome-perfil" id="nome"><b>
                    <%= data.title %>
                </b></div>
            Curtidas: <label type="number" id="numeroCurtidas">
                <%= data.curtidas.length %>
            </label>


        </div> <br>

        <div style="margin-top: 1%; margin-bottom: 1%;">
            <a href="/verify/<%= data.id %>" class="btn" style="margin-bottom: 10px;">
                <span class="material-symbols-outlined" style="color:yellow; font-size: medium;">
                    star
                </span>
                VER CONSTELAÇÃO
                <span class="material-symbols-outlined" style="color:yellow; font-size: medium;">
                    star
                </span>
            </a>

            <% if (data._id==idCookie) { %>
                <a href="/editar-perfil/<%= data._id %>" class="btn"> Editar Perfil </a>
                <% } %>

                    <% if (!data.curtidas.includes(idCookie)) { %>
                        <form action="/curtir/<%= data.id %>" method="POST">
                            <input type="submit" value="Curtir Perfil" class="btn">
                        </form>
                        <% } %>

                            <% if (data.curtidas.includes(idCookie)) { %>
                                <form action="/descurtir-perfil/<%= data.id %>?_method=POST" method="POST">
                                    <button class="btn-descurtir">Curtido!</button>
                                </form>
                                <% } %>
        </div>


        <div style="margin-top: -20%; margin-left: 43%;">
            <% if (data.insta) { %>
                <p> <b>Instagram: </b> <a href="https://www.instagram.com/<%= data.insta %>/" target="_blank"> @<%=
                            data.insta %></a>
                </p>
                <% } %>

                    <p>
                        <b>Sexo:</b>
                        <%= data.sexo %>
                    </p>

                    <p> <b> Interesses: </b>
                        <%= tagsFormatadas %>
                    </p>

                    <p> <b> Nascimento: </b>
                        <%= localDateFormatted %>
                    </p>

                    <b>Biografia: </b>
                    <%= data.body %>
                        <div class="biografia-box">
                            <article class="article">
                                Informações:
                            </article>
                        </div>
        </div>




        <% if (idCookie==data._id) { %>
            <form action="/public-post/<%= data.id %>" method="POST">
                <h3>CRIAR POST:</h3>

                <div style="display: flex;">
                    <img src="<%= pfpCookie %>" class="foto-perfil">
                    <div style="flex: 1; padding-left: 20px;">

                        <b>
                            <%= nameCookie %>
                        </b> - <font color="grey"><i>(Por favor, mantenha o respeito.)</i></font>

                        <textarea name="texto" id="texto" coLs="50" rows="4" maxlength="200"
                            oninput="atualizarContador()" style="resize:none; width: 100%; height: 38%;"></textarea>

                        <div style="display: flex; align-items: center;">
                            <input type="submit" value="Adicionar" class="btn">
                            <!-- <div style="margin-top: 5%;"> 
    <p> <b>Instagram: </b> <a href="https://www.instagram.com/<%= data.insta %>/" target="_blank" rel="noopener noreferrer">@<%= data.insta %></a> </p>

    <p>
        <b>Sexo:</b>
        <%= data.sexo %>
    </p>
        
    <p> <b> Interesses: </b> <%= tagsFormatadas %></p>
        
    <p> <b> Nascimento: </b> <%= data.nascimento.toDateString() %> </p>

    <b>Biografia:</b>
    <article class="article">
        <%= data.body %>
    </article>    
</div> -->
                            <div id="contador" style="padding-left: 2%;"></div>
                        </div>

                    </div>
                </div>
            </form>
            <% } %>



                <style>
                    .comment-box {
                        display: flex;
                        align-items: flex-start;
                        margin: 5px 0;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 20px;
                    }

                    .profile-image {
                        width: 80px;
                        /* Ajuste esse valor para o tamanho desejado */
                        height: 80px;
                        /* Ajuste esse valor para o tamanho desejado */
                        border-radius: 50%;
                        margin-right: 20px;
                        border: 1.9px solid;
                        /* Define a espessura da borda */
                        border-color: #b100f7;
                        /* Define a cor roxa da borda */
                    }

                    .comment-content {
                        max-width: 600px;
                        flex-grow: 1;
                    }

                    .comment-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: -20px;
                        margin-top: -20px;
                    }

                    .comment-body {
                        margin: 10px 0;
                    }

                    .comment-buttons {
                        display: flex;
                        gap: 10px;
                    }

                    .btn {
                        padding: 5px 10px;
                        background-color: #1da1f2;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                </style>

                <h3>POSTS:</h3>

                <% postsOrdenados.forEach(posts=> { %>
                    <% if (posts.idResposta===data.id) { %>
                        <div class="comment-box" style="margin-bottom: 3%;">
                            <img src="<%= posts.imagem %>" alt="Imagem de Perfil" class="profile-image" />
                            <div class="comment-content">
                                <div class="comment-header">
                                    <h3>
                                        <%= posts.assinatura %>
                                    </h3>
                                </div>
                                <div class="comment-body">
                                    <p>
                                        <%= posts.texto %>
                                    </p>
                                </div>
                                <div class="comment-buttons">

                                    <% if (!posts.likes.includes(idCookie)) { %>
                                        <form action="/curtir-post/<%= posts._id %>?_method=POST" method="POST">
                                            <button class="btn">Curtir</button>
                                        </form>
                                        <% } %>

                                            <!-- <button class="btn">Descurtir!</button> -->
                                            <% if (posts.likes.includes(idCookie)) { %>
                                                <form action="/descurtir-post/<%= posts._id %>?_method=POST"
                                                    method="POST">
                                                    <button class="btn-descurtir">Curtido!</button>
                                                </form>
                                                <% } %>

                                                    <div style="align-content: center">
                                                        <font color="yellow"> &starf; </font>
                                                        Curtidas: <%= posts.likes.length %>
                                                    </div>

                                                    <a href="/ver-post/<%= posts._id %>">
                                                        <button class="btn">Responder</button>
                                                    </a>


                                                    <% if (idCookie==data._id) { %>
                                                        <div>
                                                            <form
                                                                action="/delete-post-user/<%= posts._id %>?_method=DELETE"
                                                                method="POST">
                                                                <button class="btn"
                                                                    style="background-image: linear-gradient(#f80000, #942307);">Apagar</button>
                                                            </form>
                                                        </div>
                                                        <% } %>
                                </div>
                            </div>
                        </div>

                        <% } %>
                            <% }) %>








                                <script>
                                    function atualizarContador() { //contador de letras dos comentários!
                                        var input = document.getElementById('texto');
                                        var contador = document.getElementById('contador');
                                        var caracteresRestantes = 200 - input.value.length;
                                        contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/200";
                                    };


                                    function atualizarCurtidas() {
                                        var numero = document.getElementById('numeroCurtidas');

                                        numero.textContent = numero + 1;
                                    }

                                </script>

                                <!-- <img src='/img/user.png' class="foto-perfil"> -->


                                <div class="star" style="top: 56%; left: 25%;"></div>
                                <div class="star" style="top: 24%; left: 68%;"></div>
                                <div class="star" style="top: 74%; left: 42%;"></div>
                                <div class="star" style="top: 16%; left: 20%;"></div>
                                <div class="star" style="top: 34%; left: 40%;"></div>
                                <div class="star" style="top: 11%; left: 60%;"></div>
                                <div class="star" style="top: 10%; left: 22%;"></div>
                                <div class="star" style="top: 10%; left: 95%;"></div>
                                <div class="star" style="top: 50%; left: 54%;"></div>
                                <div class="star" style="top: 15%; left: 90%;"></div>
                                <div class="star" style="top: 30%; left: 10%;"></div>
                                <div class="star" style="top: 80%; left: 10%;"></div>
                                <div class="star" style="top: 80%; left: 60%;"></div>
                                <div class="star" style="top: 12%; left: 34%;"></div>
                                <div class="star" style="top: 67%; left: 22%;"></div>
                                <div class="star" style="top: 58%; left: 75%;"></div>
                                <div class="star" style="top: 9%; left: 49%;"></div>
                                <div class="star" style="top: 45%; left: 37%;"></div>
                                <div class="star" style="top: 21%; left: 83%;"></div>
                                <div class="star" style="top: 4%; left: 12%;"></div>
                                <div class="star" style="top: 33%; left: 88%;"></div>
                                <div class="star" style="top: 78%; left: 56%;"></div>
                                <div class="star" style="top: 25%; left: 92%;"></div>
                                <div class="star" style="top: 68%; left: 8%;"></div>
                                <div class="star" style="top: 77%; left: 39%;"></div>
                                <div class="star" style="top: 83%; left: 69%;"></div>