
<div>
        <img src='/img/user.png' class="foto-perfil"> 
        <div class="nome-perfil" id="nome"><b><%= data.title %></b></div>
        Curtidas: <label type="number" id="numeroCurtidas"> <%= data.curtidas %> </label>
</div> <br>



<div> 
    <p> <btn class="btn" onclick="atualizarCurtidas()">Curtir</btn> </p> <br>

    <p> <b>Instagram: </b> <a href="https://www.instagram.com/<%= data.insta %>/" target="_blank" rel="noopener noreferrer">@<%= data.insta %></a> </p>

    <p>
        <b>Sexo:</b>
        <%= data.sexo %>
    </p>
        
    <p> <b> Interesses: </b> <%= data.tags %></p>
        
    <p> <b> Nascimento: </b> <%= data.nascimento %> </p>

    <b>Biografia:</b>
    <article class="article">
        <%= data.body %>
    </article>    
</div>




<h1></h1>
<div> 
    INFORMAÇÕES DE DIAGNÓSTICO:<br>
    <b> ID: </b> <%= data._id %> <br>
    <b> Criado em: </b> <%= data.createdAt.toDateString() %>
</div>




<h1></h1>
<a href="/interesses/<%= data.id %>">[!] EDITAR TAGS [!]</a>

<a href="/verify/<%= data.id %>">[@] VER CONSTELAÇÃO [@]</a>




<form action="/post/<%= data.id %>" method="POST">
    <h3>DEIXE UMA MENSAGEM:</h3>
    
    <label for="assinatura" maxlenght=""><b>Assinatura:</b></label> <font color="grey"><i>(Opcional)</i></font>
    <input type="text" id="assinatura" name="assinatura" maxlength="50">

    <label for="texto"><b>Sua Mensagem:</b></label> <font color="grey"><i>(Por favor, mantenha o respeito.)</i></font> <div id="contador"></div> 
    <textarea name="texto" id="texto" coLs="50" rows="4" maxlength="200" oninput="atualizarContador()" style="resize:none;"></textarea>

    <input type="submit" value="Adicionar" class="btn">   
    
</form>


<h3>COMENTÁRIOS:</h3>
<ul class="article-ul">
    <% comentarios2.forEach(comentario => { %>
        <% if (comentario.idResposta === data.id) { %>
            <div>
                <div class="foto-perfil" >
                    <img src='<%= comentario.imagem %>' class="foto-perfil">
                </div> ^- Foto de perfil <br>

                <span>NOME: <b><%= comentario.assinatura %></b> <br>
                ||> ID: <%= comentario._id %> ==>  <b>idResposta:</b> <%= comentario.idResposta %>
                </span> <br>

                <span>
                    <%= comentario.texto %>
                </span> <br>
            </div>

            <h5></h5>      
        <% } %>
    <% }) %>
</ul>

<script>
    function atualizarContador() { //contador de letras dos comentários!
            var input = document.getElementById('texto');
            var contador = document.getElementById('contador');
            var caracteresRestantes = 250 - input.value.length;
            contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/250";
    };

    function atualizarCurtidas(){
        var numero = document.getElementById('numeroCurtidas');

        numero.textContent = numero + 1;
    }

</script>