
<div>
        <img src="" class="banner-perfil">
        <img src="<%= data.imagem %>" class="foto-perfil"> 
        <div class="nome-perfil" id="nome"><b><%= data.title %></b></div>
        Curtidas: <label type="number" id="numeroCurtidas"> <%= data.curtidas.length %> </label>
        
</div> <br>

<div style="margin-top: 1%; margin-bottom: 1%;">
    <% if (data._id == idCookie) { %>
        <a href="/editar-perfil/<%= data._id %>" class="btn"> Editar Perfil </a>
    <% } %>

    <% if (!data.curtidas.includes(idCookie)) { %>
        <form action="/curtir/<%= data.id %>" method="POST">
            <input type="submit" value="Curtir Perfil" class="btn"> 
        </form>
    <% } %>
</div>


<div style="margin-top: 5%;"> 
    <p> <b>Instagram: </b> <a href="https://www.instagram.com/<%= data.insta %>/" target="_blank" rel="noopener noreferrer">@<%= data.insta %></a> </p>

    <p>
        <b>Sexo:</b>
        <%= data.sexo %>
    </p>
        
    <p> <b> Interesses: </b> <%= tagsFormatadas %></p>
        
    <p> <b> Nascimento: </b> <%= data.nascimento.toDateString() %> </p>

    <b>Biografia:</b>
    <article class="article">
        <%= data.body %>
    </article>    
</div>




<h1></h1>
<div> 
    INFORMAÇÕES DE DIAGNÓSTICO:<br>
    <b> ID: </b> <%= data._id %> <br>
    <b> Criado em: </b> <%= data.createdAt.toDateString() %>
    
    <br>
    <a href="/interesses/<%= data.id %>">[!] EDITAR TAGS [!]</a>
    <br>
    <a href="/verify/<%= data.id %>">[@] VER CONSTELAÇÃO [@]</a>
</div>




<% if (idCookie == data._id) { %>
    <form action="/post/<%= data.id %>" method="POST">
        <h3>CRIAR POST:</h3>
        
        <div style="display: flex;">
            <img src="<%= pfpCookie %>" class="foto-perfil"> 
            <div style="flex: 1; padding-left: 20px;">
                
                <b><%= nameCookie %></b> - <font color="grey"><i>(Por favor, mantenha o respeito.)</i></font>

                <textarea name="texto" id="texto" coLs="50" rows="4" maxlength="200" oninput="atualizarContador()" style="resize:none; width: 100%; height: 38%;"></textarea>

                <div style="display: flex; align-items: center;">
                    <input type="submit" value="Adicionar" class="btn">
                    <div id="contador" style="padding-left: 2%;"></div> 
                </div>
                
            </div>
        </div>
    </form>
<% } %>


<h3>POSTS:</h3>

<% comentarios2.forEach(comentario => { %>
    <% if (comentario.idResposta === data.id) { %>
        <ul class="publicação-ul">

            

            <div style="display: flex;">
                <img src="<%= comentario.imagem %>" class="foto-perfil"> 
                <div style="flex: 1; padding-left: 20px;" class="container-text">
                    
                    <font color="yellow"> &starf; </font>
                    <b> <%= comentario.assinatura %> </b>
    
                        <div style="resize:none; padding-bottom: 10%; position: relative;">
                            <%= comentario.texto %> 
                        </div>

                </div>
                
                CURTIDAS: <%= comentario.likes.length %>
                <% if (!comentario.likes.includes(idCookie)) { %>
                    <div>
                        <form action="/curtir-comentario/<%= comentario._id %>?_method=POST" method="POST">
                            <button style="background-color: rgb(207, 0, 214);">CURTIR</button>
                        </form>
                    </div>
                <% } %>


                <% if (idCookie == data._id) { %>
                    <div>
                        <form action="/delete-post-user/<%= comentario._id %>?_method=DELETE" method="POST">
                            <button style="background-color: rgb(214, 0, 0);">Apagar</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </ul>
    <% } %>
<% }) %>



<!--
<h3>POSTS:</h3>
<ul class="publicação-ul">
    <% comentarios2.forEach(comentario => { %>
        <% if (comentario.idResposta === data.id) { %>
            <div style="display: flex;">
                <img src="<%= comentario.imagem %>" class="foto-perfil"> 
                <div style="flex: 1; padding-left: 20px;">
                    
                    <font color="yellow"> &starf; </font>
                    <b> <%= comentario.assinatura %> </b>
    
                        <div style="resize:none; padding-bottom: 10%;">
                            <%= comentario.texto %> 
                        </div>
                    
                </div>
                
                <% if (idCookie == data._id) { %>
                    <div>
                        <form action="/delete-post-user/<%= comentario._id %>?_method=DELETE" method="POST">
                            <button style="background-color: rgb(214, 0, 0);">Apagar</button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>
    <% }) %>
</ul>
-->





<script>
    function atualizarContador() { //contador de letras dos comentários!
            var input = document.getElementById('texto');
            var contador = document.getElementById('contador');
            var caracteresRestantes = 250 - input.value.length;
            contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/250";
    };

    function atualizarCurtidas(){
        var numero = document.getElementById('numeroCurtidas');

        numero.textContent = numero + 1;
    }

</script>

<!-- <img src='/img/user.png' class="foto-perfil"> -->