<div>
    <h2>
        <%= publicacao.titulo %>
    </h2>
    
    <p style="font-size:larger;">
        <%= publicacao.texto %>
    </p> <br>

    <p style="font-size:medium">
        <i>
            <b>Publicado por: </b> <%= publicacao.assinatura %></i>
        </i>
    </p>
</div>



<form id="form" action="/publicacao/<%= publicacao.id %>" method="POST">
    <div id="postarComentario" style="display: none">
    <h3>RESPONDER:</h3>

    <label for="assinatura" maxlenght=""><b>Assinatura:</b></label> <font color="grey"><i>(Opcional)</i></font>
    <input type="text" id="assinatura" name="assinatura" maxlength="50">
    
    <label for="texto"><b>Texto:</b></label> <div id="contador"></div> 
    <textarea name="texto" id="texto" coLs="50" rows="6" maxlength="600" oninput="atualizarContador()" style="resize:none;"></textarea>
    
    <input type="submit" value="Adicionar" class="btn">   
    </div>
</form>


<h3>RESPOSTAS:</h3>

<button class="btn" onclick="mostrar()" id="botaoMostrar">Escrever Comentário</button>

<ul class="publicação-ul">
    <% comentariosOrdenados.forEach(comentario => { %>
        <% if (comentario.idResposta === publicacao.id) { %>
            <div>

                
                <span> &starf; <b><%= comentario.assinatura %></b> <br>
                </span> 

                <span>
                    <%= comentario.texto %>
                </span> <br>
                
                <i style="font-size: small;"> <b>ID: </b> <%= comentario._id %> ==>  <b>idResposta:</b> <%= comentario.idResposta %></i>    
            </div>

            <h5></h5>      
        <% } %>
    <% }) %>
</ul>



<script>
    var divComentarios = document.getElementById("postarComentario");
    var botaoMostrar = document.getElementById("botaoMostrar");

    function mostrar(){
        divComentarios.style.display="block";
        botaoMostrar.style.display="none";
    }

    function atualizarContador() { //contador de letras dos comentários!
            var input = document.getElementById('texto');
            var contador = document.getElementById('contador');
            var caracteresRestantes = 600 - input.value.length;
            contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/600";
    };

    function atualizarCurtidas(){
        var numero = document.getElementById('numeroCurtidas');

        numero.textContent = numero + 1;
    };
</script>
